#login-btn {
  border-radius: 0px;
  color: #ffa125;
  background-color: white;
  border: solid 1px
}

.navbar__item {
  color: #2e9867;
  font-size: 24px;
  font-weight: bold;
  font-family:Raleway;
}

.intro__text {
  margin-bottom: 0px;
  font-size: 42px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 1000;
}

.breadcumb__text {
  color:white;
  font-size: 16px;
  padding: 0px 10px 0px 10px;  
}

.food__donation__category {
  width: 60%;
  height: 100%;
}

#floating__image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 4.2), 0 6px 20px 0 rgba(0, 0, 0, 23.19);
}

.action__donate__box {
  display: flex;
  justify-content: center;  
}

.action__button {
  background-color: #ffa125;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #ffa125;
  color: white;
  cursor: pointer;
}

.not__choose__action__box {
  background-color: rgba(255,255,255,0.7);    
}

.not__choose__action__content {
  display: flex;
  justify-content: center; 
}

.food__donation__category {
  font-family: Raleway;
  font-size: larger;
  color: grey;
  font-weight: 600;  
}

.label__form_text {
  font-family: Lato;
  font-weight: 700;  
  font-size: 19px;
}

.choosed_img {
  border: #2e9867 4px solid;
  border-radius: 50%;
}

.choosed_text {
  color: #2e9867;
}

.input__form {
  background-color: #e8e8e8;
  height: 50px;
  font-family: Lato;
  font-size: 18px;
}

#donation_food_btn {
  background-color:#ffa125;
  color:white;
  border-color:#ffa125;
  font-family: Lato;
  font-size: 17px;
}

.other_action_text_intro {
  color: #2e9867;
  font-weight: 700;
  font-size: 22px;
  font-family: Raleway;
}

.intro_beside_carousel {
  background-color: #6dda83;
  color: white;
  font-family: Lato;
}

#kenapa_membantu_header {
  color: #2e9867;
  font-size: 26px;
  font-weight: 600;
  font-family: Raleway;
}

#aksi_header{
  margin-top: 20px;
  /* margin-bottom: 35px; */
  color: #ffa125;  
  font-size: 26px;
  font-family: Raleway;  
}

.aksi__header__box {
  margin-top:20px;
  margin-bottom:40px;  
}

#aksiLainnyaMobile {
  display: none
}

#taglineText {
  padding: 32px;
  font-size: 41px;
  font-weight: 700;
  margin:0;
}

@media only screen and (max-width: 576px) {
  #taglineText {
    font-size: 32px;
  }

  #kenapa_membantu_header {
    font-size: 20px;
  }

  .aksi__header__box {
    margin-bottom: 10px;    
  }

  #aksi_header {
    font-size: 20px
  }

  #aksiLainnya {
    display: none;  
  }

  #aksiLainnyaMobile {
    display: block;    
  }

  .other_action_text_intro {
    font-size: 17px;
  }
}

#donateFoodCard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#donateFoodCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(57,161,104,0.22);
}

#donateMoneyCard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#donateMoneyCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(57,161,104,0.22);
}

#beingVolunteerCard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#beingVolunteerCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(57,161,104,0.22);
}

.rekening_donasi_text {
  padding-top: 50px;
  color: white;
  font-family: Lato;
}

.rekening_donasi_text_children {
  font-size: 22px;
}