#login-btn {
  border-radius: 0px;
  color: #ffa125;
  background-color: white;
  border: solid 1px
}

.navbar__item {
  color: #2e9867;
  font-size: 24px;
  font-weight: bold;
  font-family:Raleway;
}

.intro__text {
  margin-bottom: 0px;
  font-size: 42px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 1000;
}

.breadcumb__text {
  color:white;
  font-size: 16px;
  padding: 0px 10px 0px 10px;  
}

.food__donation__category {
  width: 60%;
  height: 100%;
}

#floating__image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 4.2), 0 6px 20px 0 rgba(0, 0, 0, 23.19);
}

.action__donate__box {
  display: flex;
  justify-content: center;  
}

.action__button {
  background-color: #ffa125;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #ffa125;
  color: white;
}

.not__choose__action__box {
  background-color: rgba(255,255,255,0.7);    
}

.not__choose__action__content {
  display: flex;
  justify-content: center; 
}

.food__donation__category {
  font-family: Raleway;
  font-size: larger;
  color: grey;
  font-weight: 600;  
}

.label__form_text {
  font-family: Lato;
  font-weight: 700;  
  font-size: 19px;
}

.choosed_img {
  border: #2e9867 4px solid;
  border-radius: 50%;
}

.choosed_text {
  color: #2e9867;
}

.input__form {
  background-color: #e8e8e8;
  height: 50px;
  font-family: Lato;
  font-size: 18px;
}

#donation_food_btn {
  background-color:#ffa125;
  color:white;
  border-color:#ffa125;
  font-family: Lato;
  font-size: 17px;
}

.other_action_text_intro {
  color: #2e9867;
  font-weight: 700;
  font-size: 22px;
  font-family: Raleway;
}